## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weather_data/Wet_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Tateyama,JP,75.09,clear sky,34.9833,139.8667,Tateyama Seaside Hotel
1,2,Hilo,US,81.28,overcast clouds,19.7297,-155.0900,Tateyama Seaside Hotel
2,4,Saint-Philippe,RE,67.59,scattered clouds,-21.3585,55.7679,Tateyama Seaside Hotel
3,8,Krumovgrad,BG,73.04,overcast clouds,41.4667,25.6500,Tateyama Seaside Hotel
4,12,Nikolskoye,RU,73.29,clear sky,59.7035,30.7861,Tateyama Seaside Hotel

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Weather</b></dt><dd>{Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)



# 4b. Display the figure

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start  = vacation_df.loc[vacation_df["City"]== "Tateyama"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Tateyama"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Katsuura"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Hasaki"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Shinjo"]

In [24]:
vacation_stop2

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
107,226,Hasaki,JP,79.2,clear sky,35.7333,140.8333,Tateyama Seaside Hotel

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
start1 = (start[0][0],start[0][1])
end = vacation_end[["Lat", "Lng"]].to_numpy()
end1 = (end[0][0],end[0][1])
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1u = (stop1[0][0],stop1[0][1])
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2u = (stop2[0][0],stop2[0][1])
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3u = (stop3[0][0],stop3[0][1])
print(start1)
print(end1)
print(stop1u)
print(stop2u)
print(type(stop3u))

(34.9833, 139.8667)
(34.9833, 139.8667)
(35.1333, 140.3)
(35.7333, 140.8333)
<class 'tuple'>

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1u, stop2u, stop3u]

fig = gmaps.figure()
Vacation_itinerary = gmaps.directions_layer(start1, end1, waypoints=waypoints,travel_mode='DRIVING', show_markers=True)
fig.add_layer(Vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Tateyama,JP,75.09,clear sky,34.9833,139.8667,Tateyama Seaside Hotel
1,459,Katsuura,JP,76.35,clear sky,35.1333,140.3000,Tateyama Seaside Hotel
2,226,Hasaki,JP,79.20,clear sky,35.7333,140.8333,Tateyama Seaside Hotel
3,122,Shinjo,JP,66.31,scattered clouds,38.7586,140.3008,Tateyama Seaside Hotel
4,0,Tateyama,JP,75.09,clear sky,34.9833,139.8667,Tateyama Seaside Hotel

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Weather</b></dt><dd>{Description} and {Max Temp} &#176 F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()

markers = gmaps.marker_laer(locations,info_box_content=hotel_info)
fig.add_layer(markers)


# 11b. Display the figure

fig