In [47]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import numpy as np
#g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,61.16,87,12,10.09,AU,2022-06-11 18:19:52
1,1,Mataura,-46.1927,168.8643,37.47,89,77,6.13,NZ,2022-06-11 18:19:53
2,2,Vaini,-21.2000,-175.2000,73.56,100,40,4.61,TO,2022-06-11 18:19:53
3,3,Kaitangata,-46.2817,169.8464,36.39,78,71,8.77,NZ,2022-06-11 18:19:54
4,4,Kavaratti,10.5669,72.6420,83.41,78,65,16.58,IN,2022-06-11 18:19:54

In [3]:
#get the data types

city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
## Heat Map of max Temp. 

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df['Max Temp']# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures, dissipating=False, max_intensity=300, point_radius=4)
#fig.add_title = 'Max Temp Heatmap'
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
## Heatmap of percent humidity

locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
## Heatmap of Cloudiness

locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
## Heatmap of Wind

locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 66
What is the maximum temperature you would like for your trip? 88

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Vaini,-21.2000,-175.2000,73.56,100,40,4.61,TO,2022-06-11 18:19:53
4,4,Kavaratti,10.5669,72.6420,83.41,78,65,16.58,IN,2022-06-11 18:19:54
8,8,Lorengau,-2.0226,147.2712,80.56,76,43,5.44,PG,2022-06-11 18:19:55
9,9,Thompson,55.7435,-97.8558,66.36,42,40,6.91,CA,2022-06-11 18:19:56
10,10,Atuona,-9.8000,-139.0333,77.49,68,16,14.54,PF,2022-06-11 18:19:56
13,13,Kalmunai,7.4167,81.8167,82.53,73,100,1.88,LK,2022-06-11 18:19:57
15,15,Humaita,-7.5061,-63.0208,81.68,60,99,3.29,BR,2022-06-11 18:19:58
20,20,Nikolskoye,59.7035,30.7861,66.09,71,49,3.67,RU,2022-06-11 18:19:59
22,22,Hilo,19.7297,-155.0900,80.28,68,75,3.00,US,2022-06-11 18:20:00
23,23,Yellowknife,62.4560,-114.3525,66.72,59,40,18.41,CA,2022-06-11 18:15:23

In [37]:
preferred_cities_df.count()

City_ID       268
City          268
Lat           268
Lng           268
Max Temp      268
Humidity      268
Cloudiness    268
Wind Speed    268
Country       267
Date          268
dtype: int64

In [52]:
preferred_cities_df = pd.DataFrame(preferred_cities_df)

ValueError: DataFrame constructor not properly called!

In [50]:
preferred_cities_df.dtypes

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "

TypeError: 'type' object is not subscriptable

In [53]:
hotel_df = preferred_cities_df
hotel_df["Hotel Name"] = np.nan
hotel_df.drop(columns='index')
hotel_df
hotels = []
x = 0 
#google places api to find hotel in each city within 5000 meters of the coordinates
# Iterate through the DataFrame.
for cities in hotel_df['City']:
    target_coordinates = str(hotel_df['Lat'])+' , '+str(hotel_df['Lng'][x])
    x+=1
    target_radius = 5000
    target_type = 'lodging'
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key" : g_key
        }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    try:
        response + requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
        hotels.append(np.nan)
        
hotel_df['Hotel Name'] = hotels
hotel_df_clean = hotel_df.dropna()
hotel_df_clean

TypeError: 'type' object does not support item assignment

In [44]:
hotel_df

               City Country  Max Temp      Lat       Lng Hotel Name
2             Vaini      TO     73.56 -21.2000 -175.2000
4         Kavaratti      IN     83.41  10.5669   72.6420
8          Lorengau      PG     80.56  -2.0226  147.2712
9          Thompson      CA     66.36  55.7435  -97.8558
10           Atuona      PF     77.49  -9.8000 -139.0333
..              ...     ...       ...      ...       ...        ...
527  Cap-Aux-Meules      CA     69.82  47.3821  -61.8597
531      Luganville      VU     76.59 -15.5333  167.1667
532     Villa Maria      AR     66.81 -32.4075  -63.2402
534      Vila Velha      BR     76.95 -20.3297  -40.2925
536    Port Moresby      PG     74.62  -9.4431  147.1797

[268 rows x 6 columns]

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Call the figure to plot the data.


fig

NameError: name 'hotel_info' is not defined