In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

#g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,61.16,87,12,10.09,AU,2022-06-11 18:19:52
1,1,Mataura,-46.1927,168.8643,37.47,89,77,6.13,NZ,2022-06-11 18:19:53
2,2,Vaini,-21.2000,-175.2000,73.56,100,40,4.61,TO,2022-06-11 18:19:53
3,3,Kaitangata,-46.2817,169.8464,36.39,78,71,8.77,NZ,2022-06-11 18:19:54
4,4,Kavaratti,10.5669,72.6420,83.41,78,65,16.58,IN,2022-06-11 18:19:54

In [4]:
#get the data types

city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
gmaps.configure(api_key=g_key)

In [13]:
## Heat Map of max Temp. 

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df['Max Temp']# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures, dissipating=False, max_intensity=300, point_radius=4)
#fig.add_title = 'Max Temp Heatmap'
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
## Heatmap of percent humidity

locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
## Heatmap of Cloudiness

locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
## Heatmap of Wind

locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Kavaratti,10.5669,72.6420,83.41,78,65,16.58,IN,2022-06-11 18:19:54
8,8,Lorengau,-2.0226,147.2712,80.56,76,43,5.44,PG,2022-06-11 18:19:55
10,10,Atuona,-9.8000,-139.0333,77.49,68,16,14.54,PF,2022-06-11 18:19:56
13,13,Kalmunai,7.4167,81.8167,82.53,73,100,1.88,LK,2022-06-11 18:19:57
15,15,Humaita,-7.5061,-63.0208,81.68,60,99,3.29,BR,2022-06-11 18:19:58
22,22,Hilo,19.7297,-155.0900,80.28,68,75,3.00,US,2022-06-11 18:20:00
29,29,Albany,42.6001,-73.9662,77.58,50,100,1.01,US,2022-06-11 18:20:03
34,34,Bethel,41.3712,-73.4140,77.41,54,0,0.00,US,2022-06-11 18:20:05
36,36,Bara,10.3744,10.7288,89.38,42,33,7.31,NG,2022-06-11 18:20:05
38,38,Salalah,17.0151,54.0924,87.89,79,75,8.05,OM,2022-06-11 18:20:06

In [21]:
preferred_cities_df.count()

City_ID       172
City          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
Country       172
Date          172
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
4   Kavaratti      IN     83.41  10.5669   72.6420
8    Lorengau      PG     80.56  -2.0226  147.2712
10     Atuona      PF     77.49  -9.8000 -139.0333
13   Kalmunai      LK     82.53   7.4167   81.8167
15    Humaita      BR     81.68  -7.5061  -63.0208
22       Hilo      US     80.28  19.7297 -155.0900
29     Albany      US     77.58  42.6001  -73.9662
34     Bethel      US     77.41  41.3712  -73.4140
36       Bara      NG     89.38  10.3744   10.7288
38    Salalah      OM     87.89  17.0151   54.0924

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = hotel_df["Hotel Name"] = f"{'Lat'}:{'Lng'}""

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

SyntaxError: EOL while scanning string literal (3405108820.py, line 8)

In [32]:
hotel_df

              City Country  Max Temp      Lat       Lng         Hotel Name
4        Kavaratti      IN     83.41  10.5669   72.6420  -20.3297,-40.2925
8         Lorengau      PG     80.56  -2.0226  147.2712  -20.3297,-40.2925
10          Atuona      PF     77.49  -9.8000 -139.0333  -20.3297,-40.2925
13        Kalmunai      LK     82.53   7.4167   81.8167  -20.3297,-40.2925
15         Humaita      BR     81.68  -7.5061  -63.0208  -20.3297,-40.2925
..             ...     ...       ...      ...       ...                ...
524        Ipixuna      BR     78.51  -1.7625  -48.8043  -20.3297,-40.2925
525  Palmas Bellas      PA     84.00   9.2319  -80.0867  -20.3297,-40.2925
530       Warangal      IN     89.51  18.0000   79.5833  -20.3297,-40.2925
531     Luganville      VU     76.59 -15.5333  167.1667  -20.3297,-40.2925
534     Vila Velha      BR     76.95 -20.3297  -40.2925  -20.3297,-40.2925

[172 rows x 6 columns]

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Call the figure to plot the data.


fig

Figure(layout=FigureLayout(height='420px'))